:root {
    --text-color: rgb(0, 45, 129);
    --text-font-family: Arial, Helvetica, sans-serif;
    --link-text-color: rgb(155, 187, 248);
    --link-bg-color: rgb(63, 1, 1);
    --link-bg-color-hover: rgb(150, 100, 100);
    --correct-color: rgb(2, 129, 40);
    --error-color: rgb(100, 0, 0);
    --delay-text-color: rgb(100, 0, 0);
}

body {
    background: rgb(155, 153, 196);
    background: linear-gradient(90deg, rgba(155, 153, 196, 1) 0%, rgba(213, 213, 255, 1) 36%, rgba(209, 247, 255, 1) 100%);
}

.header {
    color: var(--text-color);
    font-family: var(--text-font-family);
    font-size: 500%;
    font-weight: 900;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 80vh;
}

.btn {
    color: var(--link-text-color);
    background-color: var(--link-bg-color);
    font-family: var(--text-font-family);
    font-size: 300%;
    text-decoration: none;
    text-align: center;
    width: auto;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    border-radius: 1rem;
    border-width: 2px;
    border-style: outset;
    border-color: black;
}

.btn:hover {
    background-color: var(--link-bg-color-hover);
}

.column {
    flex-direction: column;
}

.levelText {
    font-size: 300%;
    font-weight: 300;
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.correct {
    display: inline;
    color: var(--correct-color);
}

.default {
    display: inline;
}

.displayNone {
    display: none;
}

.hidden {
    visibility: hidden;
}

.hiddenInput {
    position: absolute;
    z-index: 0;
    height: 0;
    width: 0;
    opacity: 0;
    margin: 0 0;
    padding: 0 0;
    border-width: 0;
    overflow: hidden;
}

.timer {
    font-size: 200%;
    font-weight: 200;
    font-style: italic;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.delay {
    color: var(--delay-text-color);
    font-size: 300%;
    font-weight: 500;
}

.gameModeCard {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 3rem 1rem;
    padding: 2rem 2rem;
    border-radius: 1rem;
    border-width: 2px;
    border-style: outset;
    border-color: black;
}

.gameModeCard:hover {
    cursor: pointer;
}

.cardHeader {
    font-size: 200%;
    text-align: center;
    margin-bottom: 2rem;
}

.cardDesc {
    font-size: 150%;
    text-align: justify;
}

.record {
    font-size: 150%;
}

.errorTimer {
    color: var(--error-color);
    scale: 125%;
    font-weight: bold;
}
